<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%- messages() %>

    <% if (errors) { %>
        <div class="alert alert-error">
          <% errors.array().forEach(function(error) { %>
          <p><%= error.msg %></p>
          <% }) %>
        </div>
        <% } %>

        <p>Confirm Deletion - The delete is permanent.</p>
        
        <form id= "deleteForm" action="/inv/delete" method="post">
            <div class="form-control">
              <label for="inv_make">Make</label>
              <input
                type="text"
                name="inv_make"
                id="inv_make"
                value="<%= inv_make %>"
                required
                readonly
              >
            </div>
            <div class="form-control">
              <label for="inv_model">Model</label>
              <input
                type="text"
                name="inv_model"
                id="inv_model"
                value="<%= inv_model %>"
                required
                readonly
              >
            </div>
            <div class="form-control">
              <label for="inv_year">Year</label>
              <input
                type="number"
                name="inv_year"
                id="inv_year"
                value="<%= inv_year %>"
                required
                readonly
              >
            </div>
            <div class="form-control">
              <label for="inv_price">Price</label>
              <input
                type="number"
                name="inv_price"
                id="inv_price"
                value="<%= inv_price %>"
                required
                readonly
              >
            </div>
            <div class="form-control mt-6">
              <button type="submit" class="btn">Delete Inventory Item</button>
              <input type="hidden" name="inv_id"
<% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
<% } %>>
            </div>
          </form>
        </div>